# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# Firebase configuration file

# testing
coverage

# Production
build

# Uploads image folder

# misc
.DS_Store
.env
npm-debug.log
