	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/12/2016 16:28
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  /*font-size: 20px;*/
font-style: normal;
/*margin-left: 20px;*/
}

.flaticon-3d-outlined-shape:before { content: "\f100"; }
.flaticon-arrows:before { content: "\f101"; }
.flaticon-briefcase:before { content: "\f102"; }
.flaticon-calendar:before { content: "\f103"; }
.flaticon-cancel:before { content: "\f104"; }
.flaticon-carpenter:before { content: "\f105"; }
.flaticon-chat:before { content: "\f106"; }
.flaticon-checked:before { content: "\f107"; }
.flaticon-cloud-computing:before { content: "\f108"; }
.flaticon-coding:before { content: "\f109"; }
.flaticon-cogwheels-couple-of-two-different-sizes:before { content: "\f10a"; }
.flaticon-controls:before { content: "\f10b"; }
.flaticon-database:before { content: "\f10c"; }
.flaticon-database-1:before { content: "\f10d"; }
.flaticon-design-skills:before { content: "\f10e"; }
.flaticon-edit:before { content: "\f10f"; }
.flaticon-error:before { content: "\f110"; }
.flaticon-exit:before { content: "\f111"; }
.flaticon-facebook-logo-button:before { content: "\f112"; }
.flaticon-folded-newspaper:before { content: "\f113"; }
.flaticon-folder:before { content: "\f114"; }
.flaticon-github-logo:before { content: "\f115"; }
.flaticon-header:before { content: "\f116"; }
.flaticon-home:before { content: "\f117"; }
.flaticon-instagram-logo:before { content: "\f118"; }
.flaticon-landscape-photo:before { content: "\f119"; }
.flaticon-left-alignment:before { content: "\f11a"; }
.flaticon-linkedin-button:before { content: "\f11b"; }
.flaticon-list:before { content: "\f11c"; }
.flaticon-mail:before { content: "\f11d"; }
.flaticon-minus:before { content: "\f11e"; }
.flaticon-mortarboard:before { content: "\f11f"; }
.flaticon-next:before { content: "\f120"; }
.flaticon-picture:before { content: "\f121"; }
.flaticon-placeholder:before { content: "\f122"; }
.flaticon-plumber:before { content: "\f123"; }
.flaticon-plus:before { content: "\f124"; }
.flaticon-reading:before { content: "\f125"; }
.flaticon-responsive-design-symbol:before { content: "\f126"; }
.flaticon-rotate:before { content: "\f127"; }
.flaticon-search:before { content: "\f128"; }
.flaticon-share:before { content: "\f129"; }
.flaticon-spotify:before { content: "\f12a"; }
.flaticon-star:before { content: "\f12b"; }
.flaticon-success:before { content: "\f12c"; }
.flaticon-technology:before { content: "\f12d"; }
.flaticon-unlink:before { content: "\f12e"; }
.flaticon-upload:before { content: "\f12f"; }
.flaticon-user:before { content: "\f130"; }
.flaticon-world:before { content: "\f131"; }
