.Portfolio-row {
  animation: sk-scaleup .4s  ease-in-out;
  @include flex-row();
  > div {
    @include breakpoint(1px, 867px) {
      @include flex-gtr-col(1,2*$base);
    }
    @include breakpoint(868px) {
      @include flex-gtr-col(2,4*$base);
      margin-top: 0;
    }
  }
  // Varannan grejen
  @include breakpoint(868px) {
  &:nth-of-type(even) {
    .Portfolio-col-left {
      order: 2;
    }
    .Portfolio-col-right {
      order: 1;
    }
  }
  }
}
//////////////////////////////////////////
// VÄNSTER DATOR ETC.
//////////////////////////////////////////
.Portfolio-col-left {
  @include flex-position(center);
}
.Portfolio-computer {
  background:  url("../assets/images/devices/macbook-flat.png") no-repeat center center;
  background-size: contain;
  position: relative;
  height: 205px;
  @include breakpoint(600px) {
    height: 300px;
  }
  width: 100%;
  cursor: pointer;
  @include flex-position(center);
  // transition: all 0.3s ease;
  img {
    border-radius: 2px;
    margin-top: -3%;
    max-width: 273px;
    display: block;
    @include breakpoint(600px) {
      width: 76%;
      max-width: 400px;
    }
  }
  span {
    position: absolute;
    padding: $base;
    background-color: white;
    color: $text;
    opacity: 0;
    transition: opacity .3s ease;
  }
  &:hover {
    span {
      opacity: 1;
    }
  }


}
//////////////////////////////////////////
// HÖGER INFO
//////////////////////////////////////////
.Portfolio-col-right {
  background-color: white;
}
.Portfolio-info {
  padding-bottom: 2*$base;
  @include breakpoint(768px) {
    padding-left: 2*$base;
    padding-right: 2*$base;
    // padding-top: 2*$base;
  }
  @include breakpoint(1024px) {
    padding-top: 2*$base;
  }



  h4 {
    margin-bottom: 10px;
  }
}
.Portfolio-skills {
  margin-bottom: $base*2;
}
.Portfolio-skill {
  display: inline-block;
  padding: 10px 20px;
  margin-top: $base/3;
  margin-right: $base/3;
}
.Portfolio-link {
  text-align: center;
  a {
    display: inline-block;
    color: $text;
    @include underline($green);
    position: relative;
    span {
      padding-right: 2*$base;
    }
    i {
      position: absolute;
      right: 0;
      top: 1px;
    }
  }
}
