.Modal-outer {
  z-index: 999;
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($label-grey,0.5);
  @include flex-position(center);
}
.Modal-box {
  position: relative;
  height: 400px;
  background-color: white;
  width: 95%;
  max-width: 560px;
  @include flex-position(center);
  animation: sk-scaleup .4s  ease-in-out;

  text-align: center;
  > div {
    padding: $base;
  }
}
.Modal-close {
  z-index: 9999;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: $base;
  transition: all .2s ease;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../assets/svg/close.svg");
  background-size: 100% auto;
  &:hover {
    transform: rotate(180deg);
  }
}
