.Updated-container {
  background-color: $green;
  color: white;
  position: absolute;
  bottom: 5*$base;
  left: 0;
  opacity: 0.9;
  right: 0;
  cursor: pointer;
  p {
    text-align: center;
    padding: $base;
  }
  .flaticon-error {
    position: absolute;
    top: 7.5px;
    left: 7.5px;
    transition: .2s ease;
    &:before {
      font-size: 28px;
    }
    &:hover {
      color: $label-grey;
    }
  }
}
