
.Word-container {
  text-align: center;

}

.Word-container:not(.Word-container--rotate) {
  .Word-letter {
    animation: rotateIn .5s forwards;
  }
}

.Word-container.Word-container--rotate {
  .Word-letter {
    animation: rotateOut .5s forwards;
  }
}

.Word-letter {
  text-transform: uppercase;
  color: white;
}
.Word-blank {
  display: inline-block;
}




@include breakpoint(1px,767px) {
  .Word-container {
    max-width: 95%;
    margin: 0 auto;
    span {
      padding: 8px 3px;
      font-size: 22px;
    }
  }

}
@include breakpoint(768px) {
  .Word-container {
    span {
      display: inline-block;
      padding: 10px 4px;
      font-size: 28px;
    }
  }
}
