@keyframes rotateIn {
  from {
    transform: rotateY(90deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0deg);
    opacity: 1;
  }
}
@keyframes rotateOut {
  from {
    transform: rotateY(0);
    opacity: 1;
  }
  to {
    transform: rotateY(100deg);
    opacity: 0;
  }
}
.Word-container {
  text-align: center;
}

.Word-container:not(.Word-container--rotate) {
  .Word-letter {
    animation: rotateIn .5s forwards;
  }
}

.Word-container.Word-container--rotate {
  .Word-letter {
    animation: rotateOut .5s forwards;
  }
}

.Word-letter {
  text-transform: uppercase;
  color: white;
}





@include breakpoint(1px,767px) {
  .Word-blank {
    display: block;
    padding: 0;
  }
  .Word-letter {
    padding: 8px 3px;
    font-size: 22px;

  }
}
@include breakpoint(768px) {
  .Word-container {
    span {
      display: inline-block;
      padding: 10px 4px;
      font-size: 28px;
    }
  }
}
