

section.Comment-container {
  margin: 0 auto ;
  @include thinContent();
  input, textarea,button,span {
    max-width: 560px;
  }
  button {
    margin-top: 2*$base;
  }
}
.Comment-container-fixed {
  animation: fadeIn .3s ease-out;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: opacity .5s ease;
  background-color: rgba($label-grey,0.5);
  @include flex-position(center);
  display: none;
  &:not(.is-visible) {
    .Comment-container-inner {
      animation: sk-scaledown .4s  ease-in-out;
    }
  }
  &.is-visible {
    .Comment-container-inner {
      animation: sk-scaleup .4s  ease-in-out;
    }
  }
}
.Comment-container-clickarea {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.Comment-container-inner {
  background-color: white;
  overflow-x: hidden;
  max-height: calc(100vh - 50px);
  height: 600px;
  position: relative;
  width: 95%;
  max-width: 560px;
  margin: 0 auto;

}

.Comment-container-slider {
  position: relative;
  width: 200%;
  transition: transform .3s ease;
  > div {
    padding: 2*$base;
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 1000;
  }
  &:not(.slide-left) {
    height: 600px;
  }
  &.slide-left {
    transform: translateX(-50%);
    height: 300px;
  }
}

.Comment-form {
  left: 0;
}
.Comment-confirmation {
  right: 0;
  text-align: center;
  @include flex-position(center);
}
.Comment-close {
  z-index: 9999;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: $base;
  transition: transform .2s ease;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../assets/svg/close.svg");
  background-size: 100% auto;
  &:hover {
    transform: rotate(180deg);
  }
}

.Comment-btn--active {
  @include form-btn($green);
  display: block;
  width: 100%;
}
.Comment-btn--passive {
  @include form-btn($label-grey);
  display: block;
  width: 100%;
}


//////////////////////////////////////////
// Kommentarslistan
//////////////////////////////////////////
.Comment-button {
  color: $turq;
  @include underline($turq);
  display: inline-block;
  i {
    margin-right: $base/2;
  }
}
.Comment-list {
  margin-top: $base*2;
}

.Comment-list-comment {
  border-bottom: 1px solid $label-grey;
  h4 {
    margin-top: $base;
  }
}

.Comment-list-comment {
  @include card();
  padding: 2*$base;
  margin-bottom: 2*$base;
}
